ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    list-style-type: none;
}

ul li a{
    display: flex;
    flex-direction: column;
    height: 22rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    overflow: hidden;
    color: red;
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}

.content{
    padding: .5rem 1rem;
    position: relative;
}

.favorite{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem;
}

.favorite.not{
    color: grey;
}

.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.origins{
   flex: 9; 
}

.origins span{
    border-radius: .2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: .8rem;
    color: grey;
    margin-right: .3rem;
}
.cook-time{
    font: size 0.8rem;
    flex: 3;
    text-align: right;
}

.price{
    color: #414141;
    margin-top: .3rem;
}

.tag{
    border-radius: .2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: .9rem;
    color: rgb(165, 82, 82);
    margin-right: .3rem;
}